/* src/components/overview.css */

/* Page container styles */
.page-container {
  background: #ceeef7;
  display: flex;
  flex-direction: column; /* Display children in a column layout */
  align-items: center; /* Horizontally center the content */
  height: 100vh; /* Make the container full height of the viewport */
}

/* Navbar styles */
/* Add styles for your NavBar component if needed */
.navbar {
  width: 100%; /* Make the Navbar span the entire width */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Content container styles */
.content-container {
  flex: 1; /* Grow to fill the remaining vertical space */
  display: flex;
  flex-direction: column; /* Display children in a column layout */
  justify-content: center; /* Vertically center the content */
  max-width: 800px; /* Limit the maximum width of the content */
  padding: 20px;
}

/* Profile and Overview grid container styles */
.profile-and-overview-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create a 2-column grid */
  gap: 200px; /* Add some spacing between the components */
  align-items: center; /* Vertically center the components */
}

/* Profile container styles */
.profile-container {
  padding: 20px;
  border: 1px solid #000000; /* Add a border for separation */
  text-align: center; /* Center the content within the profile container */
}

/* Increase the size of the profile picture */
.profile-picture img {
  width: 150px; /* Adjust the image width as needed */
  height: 150px; /* Adjust the image height as needed */
  border-radius: 50%; /* Make the image round */
}

/* Profile name styles */
.profile-info h2 {
  font-size: 28px; /* Increase the font size as needed */
  margin-bottom: 10px; /* Add some spacing below the name */
}

/* Profile bio styles */
.profile-info p {
  font-size: 18px; /* Increase the font size as needed */
}

/* Overview container styles */
.overview-container {
  padding: 60px;
  border: 1px solid #000000; /* Add a border for separation */
  text-align: center; /* Center the content within the overview container */
}

/* Loading message styles */
p {
  font-size: 18px; /* Adjust the font size as needed */
}
